body {
    font-family: sans-serif; 
    max-width: 500px;
    margin: auto;
    padding: 0 5%;
}

h1 {
    text-align: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-family: serif;
}

ul {
    display: flex;
    flex-direction: column;
}

a {
    color: dodgerblue;
    text-decoration: none;
}
